<h2>Did you <%= @activity.name.upcase %> today?</h2>
<%= form_for(@log, {:class => 'record-today'}) do |f| %>
  <img class="check-selection" src="/assets/checkmark_medium.png"/>
  <img class="cross-selection" src="/assets/cross_medium.png"/>
  <br/>
  <%= f.hidden_field 'checkmark', {:id=>'checkmark-input'} %>
  <%= f.hidden_field :whichtype, :value => @activity.whichtype %>
  <%= f.hidden_field :activity_id, :value => @activity.id %>
  <%= submit_tag "New" %>
<% end %>





