<h2>How much <%= @activity.name.upcase %> today?</h2>
<%= form_for(@log) do |f| %>
  <br/>
  <%= f.text_field 'count', {:id=>'count-input'} %>
  <%= f.hidden_field :whichtype, :value => @activity.whichtype %>
  <%= f.hidden_field :activity_id, :value => @activity.id %>
  <%= submit_tag "New" %>
<% end %>



