<h2>How much <%= @activity.name.upcase %> today?</h2>
<%= form_for(@log) do |f| %>
  <br/>
  <%= f.text_field 'count', {:id=>'count-input'} %>
  <%= f.hidden_field :whichtype, :value => @activity.whichtype %>
  <%= f.hidden_field :activity_id, :value => @activity.id %>
  <%= submit_tag "New" %>
<% end %>

<div id="holder" style="width: 220px; height: 220px;border:1px solid #cccccc;">
</div>

<script>
  $(function() {
    var r = Raphael("holder"),
      data1 = [<%= @past.map do |l| l.count end %>],
      fin = function () {
        this.flag = r.popup(this.bar.x, this.bar.y, this.bar.value || "0").insertBefore(this);
      },
      fout = function () {
        this.flag.animate({opacity: 0}, 300, function () {this.remove();});
      },
      txtattr = { font: "16px sans-serif" };

    // thats the green color but red/yellow/green need to be reserved for "health"
    // var barfill = '#2ECC71';
    var barfill = '#cccccc';
    var label_bgcolor = 'transparent';
    var label_fontcolor = '#ffffff';

    var bar_width = 200;
    var bar_height = 200;
    var gutter_percentage = '70%';

    r.barchart(0,0,bar_width,bar_height,data1,{
      type: "round",
      gutter: gutter_percentage,
    }).attr({fill:barfill});
    // }).hover(fin,fout).attr({fill:barfill});

    var label1x = 31;
    var label2x = 31+45;
    var label3x = 31+45*2;
    var label4x = 31+45*3;
    // label3x = 120;
    // label4x = 170;
    var label1y = 165;
    var label2y = 165;
    var label3y = 165;
    var label4y = 165;

    var label_styling = [
      {fill: label_bgcolor},
      {fill: label_fontcolor},
    ];
    r.label(label1x,label1y,<%=@past[0].count%>).attr(label_styling);
    r.label(label2x,label2y,<%=@past[1].count%>).attr(label_styling);
    r.label(label3x,label3y,<%=@past[2].count%>).attr(label_styling);
    r.label(label4x,label4y,<%=@past[3].count%>).attr(label_styling);

    label_styling = [
      {fill: 'transparent'},
      {fill: '#aaaaaa'},
    ];
    var offset = 25;
    r.label(label1x,label1y+offset,"<%=@past_md[0]%>").attr(label_styling);
    r.label(label2x,label2y+offset,"<%=@past_md[1]%>").attr(label_styling);
    r.label(label3x,label3y+offset,"<%=@past_md[2]%>").attr(label_styling);
    r.label(label4x,label4y+offset,"<%=@past_md[3]%>").attr(label_styling);

  });
</script>


