<h1>Skills:</h1>

<ul id="activities">
<% @activities.each do |activity| %>
  <li>
    <a href="<%=activity_path(activity)%>">
    <%= activity.name.capitalize %>
    </a>

    <a class="action" href="<%=activity_path(activity)%>" rel="nofollow" data-method="delete" data-confirm="You sure?">
      <img src="/assets/bootstrap_trashcan.png"/>
    </a>

    <a class="action" href="<%=edit_activity_path(activity)%>">
      <img src="/assets/bootstrap_pencil.png"/>
    </a>
  </li>
<% end %>
  <li class="new-skill">
    <%= link_to '+ New Skill', new_activity_path %>
  </li>
</ul>

<br />


