<h1>New activity</h1>

<%= render 'form' %>

<%= link_to 'Back', activities_path %>

<p>
.
</p>
<p>
.
</p>

<img src="/assets/blue_xs.png"/>
<%= form_for(@activity) do |f| %>
  <%= f.label :name %><br/>
  <%= f.text_field :name, {:class => 'new-activity-input'} %>
  <%= f.hidden_field :whichtype, :value => 'checkmark' %>
  <%= submit_tag "New" %>
<% end %>

<br/>

<img src="/assets/green_xs.png"/>
<%= form_for(@activity) do |f| %>
  <%= f.label :name %><br/>
  <%= f.text_field :name, {:class => 'new-activity-input'} %>
  <%= f.hidden_field :whichtype, :value => 'count' %>
  <%= submit_tag "New" %>
<% end %>


<script>
</script>
