
<p id="notice"><%= notice %></p>

<% if @activity.whichtype == 'checkmark' %>
  <img src="/assets/blue_xs.png" style="float:left;margin-right:5px;position:relative;top:-3px;"/>
<% elsif @activity.whichtype == 'count' %>
  <img src="/assets/green_xs.png" style="float:left;margin-right:5px;position:relative;top:-3px;"/>
<% end %>
<h1>
  <%= @activity.name.capitalize %>
</h1>

<p>
  <b>Type:</b>
  <%= @activity.whichtype %>
</p>


<p>
  <% @past.each do |l| %>
    <div>
      <%= l.fordate %>
      <% if @activity.whichtype == 'checkmark' %>
        <%= l.checkmark %>
      <% elsif @activity.whichtype == 'count' %>
        <%= l.count %>
      <% end %>
    </div>
  <% end %>
  Today:<br/>
  <% if @today %>
    <%= @today.fordate %>
    <% if @activity.whichtype == 'checkmark' %>
      <%= @today.checkmark %>
    <% elsif @activity.whichtype == 'count' %>
      <%= @today.count %>
    <% end %>
  <% else %>
    Nothing.. Get to work!
  <% end %>
</p>

<style>
  .checkmark-selected {
    background-color: #efefef;
  }
</style>

<% if @activity.whichtype == 'checkmark' %>
  <%= render 'show_checkmark' %>
<% elsif @activity.whichtype == 'count' %>
  <%= render 'show_count' %>
<% end %>

<br/>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>

<script>
  $(function() {
    $('.check-selection').click(function() {
      $('#checkmark-input').attr('value','1');
      $other = $('.cross-selection');
      $other.removeClass('checkmark-selected');
      $(this).addClass('checkmark-selected');
    });
    $('.cross-selection').click(function() {
      $('#checkmark-input').attr('value','0');
      $other = $('.check-selection');
      $(this).addClass('checkmark-selected');
      $other.removeClass('checkmark-selected');
    });
  });
</script>

